.text-animate{
    display: inline-block;
    opacity: 0;
    animation: bounceIn 1s  1s forwards;
    min-width: 10px;
}

.text-animate-hover{
    min-width: 10px;
    display: inline-block;
    animation-fill-mode: both;

    &:hover{
        animation: tada 0.5s forwards;
        color: rgb(255, 245, 0);
    }
}

@for $i from 1 to 100 {
    .text-animate{
        &._#{$i}{
            animation-delay: #{$i/10}s;
        }
    }
}